*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/commonutils
/framework/src/main/java/com/example/framework/http/lib/
/app/src/main/java/com/example/siqingchan/trytime/http/util/ApiRule.java
/app/src/main/java/com/example/siqingchan/trytime/http/util/ApiUtil.java
libs/
src/main/java/com/example/siqingchan/techcollect/details/fragment/
src/main/java/com/example/siqingchan/techcollect/inputverify/
src/main/java/com/example/siqingchan/techcollect/other/
src/main/res/layout/view_marker.xml
