/build
/src/main/java/com/example/siqingchan/techcollect/http/util/ApiRule.java
/src/main/java/com/example/siqingchan/techcollect/http/util/ApiUtil.java
/src/main/java/com/example/siqingchan/techcollect/retrofit/sample/utils/
